:root{
    --primario:#fc0101;
    --secundario:#9ec1e4;
    --acento:#ffea00;
    --negro:#333333;
    --link:#ff4500;
}

    



    
/* = = = = Navegacion = = = = */
/*
nav{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
    background:var(--acento);
}
.nav_list{
    position: relative;
    display: flex;
    list-style: none;
    text-align: center; 
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}
.nav_list li{
    width:150px;
    height:30px;
    background: var(--acento);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_list li a{
    color: var(--negro);
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.2rem;
    word-spacing: normal;
}
.nav_list li a:hover{
    color:var(--primario);
    border-bottom: 2px solid var(--primario);
    line-height: 35px;
    transition: 0.12s;
}
.nav_list li ul{
    display: none;    
}
.nav_list li ul>li{
    background:rgba(255, 204, 0 ,0.8);
    backdrop-filter:blur(3px);
}
.nav_list li:hover>ul{
    display: block;
    position: absolute;
    top:45px;   
}
*/





/* * * * publicidad * * * */
aside{
    width:15%;
    background: grey;
}

/* footer */
footer{
    background: var(--negro);    
}
footer > .container{
    height:120px;
    width:95%;
    max-width: 1024px;  
    padding:25px 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot_logo{
    height: 50px;
    filter: invert(0.5);
}
.foot_logo:hover{
    transform: translate(0px, -2px);
    filter: invert(0);
    transition: 0.12s;
}
.foot_list{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    list-style:none;
    padding-top: 10px;
    order:2;
}
.foot_list ul li{
    padding:5px 10px;
}
.foot_list a{
    color:var(--secundario);
    font-size: 1rem;
}
.foot_list a:hover{
    color:var(--acento);    
}
.foot_nav{
    width: 50%;
    max-width: 320px;
    display: flex;
    flex-direction: row;
}
.foot_list, .social_nav{
    display: flex;
    justify-content: space-around;
}
.foot_list{
    display: flex;
}
.social_ico{
    height: 28px;
    fill:var(--secundario);
    order: 1;
}
.social_ico:hover{
    fill: var(--acento);
    transition: 0.12s;
    transform: translate(0px, -2px);    
}

    @media(max-width:768px){
        footer .container{
            max-width:760px;
            width: 90%;
        }
        .foot_logo{
            height: 55px;        
        }
        
    }
    @media (max-width:576px){ /*consigna Clase 10*/
        footer > .container{
            flex-direction: column;
            width:90%
        }
        .foot_nav {
            width:90%;
        }
        
    }
/* = = = = = Publicidad = = = = = */
/* = ↓ ↓ ↓ = Publicidad = ↓ ↓ ↓ = */

/* Banner Publicitario */
.banner_publicitario{
    width: 100%;
    height: 200px;
    padding:20px;
    margin:20px auto 45px;
    background: linear-gradient(to right,rgba(0,0,0,0.8), 50%, transparent),url(../img/img_banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position:relative ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "titular imagen"
    "descripcion imagen";
    place-items: center;
}
.banner_publicitario h2{
    color:white;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 0px;    
    grid-area: titular;
}
.banner_publicitario p{
    color:white;
    text-align: center;
    grid-area: descripcion;
}
.banner_publicitario  img{    
    min-height: auto;
    width:150px;
    grid-area: imagen;
    margin: auto;
}
.publi_alquiler{/* se lo utiliza para diferenciar y demostrar lo aprendido en clase*/
 filter:hue-rotate(90deg)
}
.publi_compra{
 filter: sepia(1);/* se lo utiliza para diferenciar y demostrar lo aprendido en clase*/
}
@media(max-width:576px){  /*consigna Clase 10*/
    .banner_publicitario{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:min-content;
        grid-template-areas: 
        "titular"
        "imagen";
    }
    .banner_publicitario h2{
        font-size: 1.8rem;
    }
    .banner_publicitario p{
        display: none;
    }
}
/* Aside Publicitario */
aside{
    display: flex;
    flex-direction: column;
    padding:0px
}
[class ^= publicidad_]{
    width: 100%;
    padding:10px;
    border-bottom:1px solid silver;
}
.publicidad_1{
    height:60vh;
    background:url(../img/publi/p1b-rex.jpg) center no-repeat;
    background-size: cover;
}    
.publicidad_2{
    height:40vh;
    background:url(../img/publi/p2-retak.jpg) left no-repeat;
    background-size: cover;
}
.publicidad_3{
    height:30vh;
    background:url(../img/publi/p3-santander.jpg) center no-repeat;
    background-size: cover;
}
.publicidad_4{
    height:20vh;
    height:30vh;
    background-color: #ffffff;
    background:url(../img/publi/p4-prestamos.jpg), #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
    @media(max-width:768px){
        aside{
            width: 100%;
            display: grid;
            grid-template-areas: 
            "publi1 publi1 publi1"
            "publi2 publi3 publi4";
        }
        .publicidad_1{
            grid-area: publi1;
            height: 150px;
            background: url(../img/publi/p1-banner-rex-1920.jpg);
            background-size: cover;
            background-position: center;
        }
        .publicidad_2{
            grid-area: publi2;
        }
        .publicidad_3{
            grid-area: publi3;
        }
        .publicidad_4{
            grid-area: publi4;
        }
        .publicidad_2, .publicidad_3, .publicidad_4{
            height: 100px;
        }
    }

/* SUB FOOT AUTOR / Clase*/
.sub_foot{
    background: black; 
    color:white;
    height: 30px;
}
.sub_foot .container{
    width:95%;
    max-width: 1200px;   
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
.sub_foot .container p{
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
}
@media(max-width:768px){}
@media(max-width:576px){
    .sub_foot{
        height:auto;
    }
    .sub_foot .container{
        flex-direction: column;
        padding: 10px 0;
    }
}
 /*consigna Clase 10*/
.carousel{
    display: flex;
    flex-wrap: nowrap;
    margin: 40px 0px 50px;
}
.card{
    padding:0px
}
#alquileres .row, #compra .row{
    margin-bottom: 50px;
}
.img_prop{
    width: 100%;
    height: auto;
}

