:root{
    --primario:#fc0101;
    --secundario:#9ec1e4;
    --acento:#ffea00;
    --negro:#333333;
    --link:#ff4500;
}

/* Banner Publicitario */

.banner_publicitario{
    width: 100%;
    height: 200px;
    padding:20px;
    margin:20px auto 45px;
    background: linear-gradient(to right,rgba(0,0,0,0.8), 50%, transparent),url(../img/img_banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position:relative ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "titular imagen"
    "descripcion imagen";
    place-items: center;
}
.banner_publicitario h2{
    color:white;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 0px;    
    grid-area: titular;
}
.banner_publicitario p{
    color:white;
    text-align: center;
    grid-area: descripcion;
}
.banner_publicitario  img{    
    min-height: auto;
    width:150px;
    grid-area: imagen;
    margin: auto;
}
.publi_alquiler{
 filter:hue-rotate(90deg)
}
.publi_compra{
 filter: sepia(1);
}
@media(max-width:576px){
    .banner_publicitario{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:min-content;
        grid-template-areas: 
        "titular"
        "imagen";
    }
    .banner_publicitario h2{
        font-size: 1.8rem;
    }
    .banner_publicitario p{
        display: none;
    }
}

/* Aside Publicitario */


/* SUB FOOT AUTOR / Clase*/

 /*consigna Clase 10*/

#alquileres .row, #compra .row{
    margin-bottom: 50px;
}
.img_prop{
    width: 100%;
    height: auto;
}

