/* publicidad  */
aside{
    width:15%;
    background:linear-gradient(180deg,lightgrey,$secundario);
    display: flex;
    flex-direction: column;
    padding:0px;
    z-index: 0;
}
[class ^= publicidad_]{
    width: 100%;
    padding:10px;
    border-bottom:1px solid silver;
}
.publicidad_1{
    height:60vh;
    background:linear-gradient(180deg,#6f05c1,80%,#3d1b5c);
    display:flex;
    flex-direction:column;
    align-items: center;
    img{
        width:50%;
        margin: auto;
    }
    p{
        font-size: 1vw;
        line-height: 1;
        color:#ffffff;
        text-align: center;
    }
    .desc-rex{
        display: inline-flex;
        padding:1.4vw;
        border-radius: 0.5rem;
        background: gold;
        margin-bottom: 1.5rem;
        p{
            color:#ffffff;
            font-size: 2rem;
            font-weight: 600;
            text-shadow: 0.1rem 0.2rem 0.7rem rgba(0,0,0,0.25);
            margin-bottom: 0rem;
        }
        
    }
}    
.publicidad_2{
    height:40vh;
    background:url(../img/publi/publi2-retak/ladrillo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
        height: 3rem;
        align-self: flex-start;
    }
    .visit-retax{
        color:#ee7f00;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: 0 3px 3px rgba(0,0,0,0.25);    
        i{
            font-size: 2.4rem;
        }
        p{
            font-size: 1vw;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
.publicidad_3{
    height:30vh;
    background:linear-gradient(360deg,red 50%, #eeeeee 50%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img{
        width:75%;
        margin: auto;
    }
    .info-santander{
        width:100%;
        text-align: center;
        background:#ffffff;
        border: 0.1rem solid lightgrey;
        border-radius: 0.7rem;
        box-shadow: 0 0.5rem  0.7rem rgba(0,0,0,0.25);
        padding:0.5rem;
        p:first-child{
            font-size: 1.2vw;
            color:red;
            font-weight: 600;
        }
        p:last-child{
            font-size: 1vw;
            color:#000000;
        }
    }
}
.publicidad_4{
    height:20vh;
    height:30vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 0;
    img{
        width: 70%;
        margin: auto;
    }
    .publi-foot{
        p:first-child{
            color:#ffffff;
            background:lightslategray;
            font-size: 0.8vw;
            text-align: center;
            padding: 0.5rem 0;
            margin: 0px;
            font-weight: 600;
        }
        p:last-child{
            background:#edccc7;
            color:#333;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.3rem;
            text-align: center;
            padding: 0.5rem 0;
            margin: 0px;
        }
    }
}
    @media(max-width:768px){
        aside{
            width: 100%;
            display: grid;
            grid-template-areas: 
            "publi1 publi1 publi1"
            "publi2 publi3 publi4";
            grid-template-columns: repeat(3,1fr);
                .publicidad_1{
                grid-area: publi1;
                height: 150px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                    img{
                        height: 90%;
                        width: auto;
                        margin: 0px;
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                        p{
                            font-size: 1.4rem;
                        }
                    }
                   
                }
                .publicidad_2{
                    grid-area: publi2;
                    position: relative;
                    display: flex;
                    img{
                        position:absolute;
                        top:0px;
                        left:0;
                    }
                    .visit-retax{
                        position: absolute;
                        right: 1rem;
                        bottom:0;
                    }                   
                }
                .publicidad_3{
                    grid-area: publi3;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    img{
                        height: auto;
                        width: calc(50% - 1rem);
                        margin:0px;
                        align-self:flex-start;
                    }
                    .info-santander{
                        width: calc(50% - 1rem);
                    }
                }
                .publicidad_4{
                    grid-area: publi4;
                    flex-direction: row;
                    padding: 0 0 0 1rem;
                    img{
                        height: auto;
                        width: calc(50% - 1rem);
                    }
                    .publi-foot{
                        width: calc(50% - 1rem);
                        height: 100%;
                        p{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        p:first-child{
                            height: 30%;
                        }
                        p:last-child{
                            height: 70%;
                        }
                    }
                    
                }
                .publicidad_2, .publicidad_3, .publicidad_4{
                    height: 100px;
                }
        }
    }
    @media (max-width:426px){
        aside{
            .publicidad_1{}
            .publicidad_2{}
            .publicidad_3{
                display: flex;
                    flex-direction: column;
                .info-santander{ 
                    width:80%;                   
                    p:first-child{
                        font-size: 1rem;
                        margin-bottom: 0;
                    }
                    p:last-child{
                        font-size: 1rem;
                        margin-bottom: 0;
                    }
                }
            }
            .publicidad_4{
                padding: 0 0 0 0rem;
                img{
                    height: auto;
                    width: 70%;
                }
                .publi-foot{
                    display: none;
                }
            }
        }
    }
    