/*Variables*/
$info: bold 20px 'Roboto', sans-serif;
$detalle: 10px 'Roboto', sans-serif;
$primario:#fc0101;
$secundario:#9ec1e4;
$acento:#ffea00;
$negro:#333333;
$link:#ff4500;


/**/
section{
    position: relative;
}
// BLOQUE 1
.DiaFecha{
    display: flex;
    justify-content: space-between;
}
.DiaFecha__fecha, .DiaFecha__clima{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70px
}
.DiaFecha--dia{
    font:$info;
}
.DiaFecha--mes{
    font:$detalle;
    margin-bottom: 0px;
}
.DiaFecha--temperatura{
    font:$info;
}
.DiaFecha--localidad{
    font:$detalle;
    margin-bottom: 0px;
}
// BLOQUE 2
nav{
    width: 100%;
    height: 30px;
    background-color: $acento;
}
.nav_list{
    list-style: none;
    width:80%;
    height: 100%;
    margin: auto;    
    display: flex;
    justify-content: center;
}
.nav_list__item{
    width:10%;
    padding:0px;
    background-color: $acento;
    list-style: none;
    display: grid;
}
.nav_list--link{
    font-size: 1.4rem;
    text-align: center;
    color: $negro;
    font-weight: 600;
    text-decoration: none;
    height: 100%;
    width:100%;
}
.nav_list--link:hover{
    color:$primario;
    transition: 0.12s;
    transform: translateY(-3px);
    text-shadow: 0px 3px 5px rgba(0,0,0,0.4);
}
.nav_list__item:hover{
    border-bottom: 2px solid $primario;    
}
// BLOQUE 3

.card__img-top{}
.card__body {
    display: flex;
    flex-direction: column;
}
.card--title{
    margin:10px 0 25px;
    padding:0px;
}
.card--text{}

.card--btn{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}
.card:hover{
    cursor: pointer;
    background: snow;
    transform: translateY(-10px);
    transition: 0.12s;
}
// BLOQUE 4
.card{
}
.card__propiedad{
    height: 120px;
    overflow: hidden;
}
.destacado__info{

}
.card--titlesito{
    margin-bottom:15px
}
.card--textito{
    font-size: 1.2rem;
    line-height: 1.4;
}
.card--boton{}

// BLOQUE 4

.social_nav{
    justify-content: space-around;
}
.social_nav__elemento{

}
.social_nav--ico{
    height: 24px;
    fill:$secundario;
}
.social_nav--ico:hover{
    fill:$acento
}
.section_tit{
    color:$primario;  
    padding-left: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.section_tit::before{
    content:url(../img/favicon.png);
    position: absolute;
    left: 0px;
}
/*footer*/
.social_nav{
    i{
        font-size: 30px;
        color:$secundario
    }
    i:hover{
        color:$acento
    }
    i:not(last-child){
        margin-right: 20px;
    }
}
.foot_nav{

}

/*CARD*/
@media(max-width:768px){

   .card{ 
       .card__img-top{
        height: 100px;
        background-size: cover;
        
    }
    .destacado_info{
        display: block;
    }
    .destacado_info>p{
        font-size: 1rem;;
    }
    h2 > .card--title{
        font-size: 1.4rem;
        letter-spacing: -0.3px;
        margin: 0px 0 12px;
        padding:0px;
        min-height: 18px;
    }
    .card__body.destacado_info{
        padding:5px 5px;
    }
    }

}