/* import */
@import "publicidad";
/*Variables*/
$info: bold 20px 'Roboto', sans-serif;
$detalle: 10px 'Roboto', sans-serif;
$primario:#fc0101;
$secundario:#9ec1e4;
$acento:#ffea00;
$negro:#333333;
$link:#ff4500;

/* Reset */ 
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background:linear-gradient(180deg,rgb(255,255,253)84%,rgb(250,250,240)) ;
}
/* GENERALES */ 
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}
a{
    text-decoration: none;
    cursor:pointer;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Crete Round', serif;
    color:var(--negro);
    margin:0px;
}
h2{
    padding: 25px 0 50px;
}
.section_tit{
    color:$primario;  
    padding-left: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.section_tit::before{
    content:url(../img/favicon.png);
    position: absolute;
    left: 0px;
}
.full_container{
    width:100%;
    min-height: calc(100vh - 345px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
} 
    @media(max-width:768px){
        .full_container{
            flex-direction: column;
        }
    }

.container{ 
    width: 95%;
    max-width: 1024px;
    height: auto;
    margin: auto;    
}
    @media(max-width:768px){
        .container{
            max-width:90%
        }
    }
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section_tit{
    font-size: 2.4rem;
}

/* = = = = = = = = = = = = = = = = =*/

header{
    height: 75px;
    width:100%;
    background: linear-gradient(180deg, var(--secundario), var(--acento));
    display: flex;
    padding-top: 10px;
    z-index: 3;
}
header > .container{
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    z-index: 10;
}
.brand{
    height:50px;
    z-index: 10;
}
.brand:hover{
    animation: branimation 1s linear;
    
}
@keyframes branimation{
    from{}
    to{
        transform: rotate3d(200,10,25,360deg);
    }
}

    @media(max-width:768px){
        header > .container{
            max-width: 760px;
            width:90%
        }
        .brand{
            height: 55px;
        }
        .login{
            margin-right: 10px;
        }
    }
    @media(max-width:425px){
        header > .container{
            width:90%;
            max-width: 420px;
        }
        .brand{
            height: 45px;
        }
    }


/* = = = main = = = */
main{
    width:70%;
    padding:50px 30px;
}
.main__banner{
width:100%;
margin-bottom: 40px;
border-radius: 5px;
box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.25);
}
.destacado{
    width:calc(25% - 15px);
    min-height:250px;
    height:100%;
    border:1px solid #c6c6c6;
    border-radius: 5px;
    box-shadow: 0px 7px 16px rgba(0,0,0,0.2);
    margin-bottom:50px;
    overflow: hidden;    
}
#destacados .card{
    width:calc(25% - 10px);
    box-shadow: 0 0 1rem rgba(0, 0, 0,0.15);    
}
#destacados .card:hover{
    box-shadow: 0 1.2rem 1.5rem rgba(0, 0, 0,0.15);    
}
.img_destacado{
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.img_destacado > img{
    height: 100%;
    min-width: auto;
}
.destacado:hover{
    transform: translate(0px,-2px);
    transition:0.12s;
    
}
.destacado_info{
    padding:15px 10px;
}
.destacado_info>p{
    font-size: 1.2rem;
    color:var(--negro)
}
.destacado_tit{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 15px;
    color: var(--primario);
}

    @media (max-width:768px){
        main{
            width: 90%;
            margin:auto
        }
        #destacados .row{
            flex-wrap: wrap;
        }
        .destacado{
            width:calc(50% - 10px);
        }
        .img_destacado{
            height: 150px;
        }
        .img_destacado img{
            width: 100%;
            height: auto;
        }
    }
    @media (max-width:576px){/*consigna Clase 10*/
        main{
            width: 95%;
            padding:30px 0px;
        }
        .destacado{
            width: 90%;
            margin:auto
        }
        #destacados .card{
            width:80%;
            margin: 0 auto 30px;
            
        }
        .destacado:not(:last-child){
            margin-bottom: 30px;
        }
    }

/* Carrusel */
.carousel{
    display: flex;
    flex-wrap: nowrap;
    margin: 40px 0px 50px;
}
.carru_info{
    color:$acento;
    font-weight: 500;
    text-shadow: 0px 1px 7px rgba(0,0,0,1);
}
.carousel-item h5{
    color:$negro;
    font-size: 1.4rem;
}
/* fin carrusel */
.card{
    padding:0px
}
/* Alquileres y Compras*/
.propiedades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#alquileres .card, #compra .card{
    width:calc(20% - 10px);
    margin-bottom: 25px;
    box-shadow: 0px 0.1rem 0.75rem rgba(0,0,0,0.15);
    .porta_propiedad{
        width: calc(20% - 10px);
        height: auto;
        border:1px solid #c6c6c6;
        border-radius: 3px;
        margin-bottom: 25px;
        cursor: pointer;
        box-shadow: 0px 7px 12px rgba(0,0,0,0.2);
    }
    .porta_propiedad:hover{
        transform: translate(0px, -3px);
        box-shadow: 0px 10px 12px rgba(0,0,0,0.2);
        transition: 0.12s;
    }
    .img_propiedad{
        width: 100%;
        height: 150px;
        display: flex;
        overflow: hidden;
    }
    .img_propiedad > img{
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
    }
    .prop_info{
        padding:10px 10px 20px;
        height: 100px;
    }
    .prop_info > h3{
        margin-bottom: 15px;
    }
    .prop_info>p{
        font-size: 1.2rem;
        color:var(--negro);
    }
}
#alquileres .card:hover, #compra .card:hover{
    box-shadow: 0 1.1rem 1rem rgba(0,0,0,0.15);
}
/* VER Y ACOMODAR PARA QUE SURTA EFECTO EL TAMAñO*/
p.txt-description{
    font-size: 1.2rem!important;
}
    @media(max-width:768px){
        .propiedades{
            flex-wrap: wrap;
        }
        .porta_propiedad{
            width:calc(25% - 10px)
        }
        .porta_propiedad:nth-child(5){
            display: none;
        }
        .img_propiedad{
            height:100px
        }
    }
    @media(max-width:576px){ /*consigna Clase 10*/
        .porta_propiedad{
            width:calc(50% - 10px);
        }
        #alquileres .row, #compra .row{
            flex-wrap: wrap;
        }
        #alquileres .card, #compra .card{
            width:calc(50% - 10px);
            margin-bottom: 25px;
        }
        #alquileres .card:last-child, #compra .card:last-child{
            display: none;
        }
    }

/* ↓ ↓ ↓ Publicitar ↓ ↓ ↓ */
.main_costo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 15px;
    grid-template-rows:min-content;
    grid-template-areas: 
    "costo_tit costo_tit"
    "texto tabla";
}
.main_costo h2{
    grid-area: costo_tit;
}
.col_txt{
    grid-area: texto;
}
.tabla_aranceles{
    grid-area: tabla;
}
.tabla_aranceles th, .tabla_aranceles td{
    padding:3%;
    text-align: center;
    font-size: 1.2rem;
    border-bottom:solid 1px silver
}
    @media (max-width:768px){
        .main_costo{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:min-content;
            row-gap: 25px;
            grid-template-areas: 
            "costo_tit"
            "texto" 
            "tabla";
        }
    }
/* ↓ ↓ ↓ Contacto ↓ ↓ ↓ */

.contact_grid{
    display: grid;
    grid-template-areas:
    "c_titulo c_formulario"
    "c_texto c_formulario";
    grid-template-columns: 30% 70%;
    grid-template-rows: 70px auto;
    column-gap: 15px;
    row-gap: 15px;
}
.c_titulo{
    grid-area: c_titulo;
}
.c_texto{
    grid-area: c_texto;
    line-height: 2.4rem;
}
#contact_us{
    display: flex;
    flex-direction: column;
    width:80%;
    margin:0px auto;
    padding:25px;
    grid-area: c_formulario;
}
#contact_us ::placeholder{
    color:var(--secundario);
}
#contact_us input{
    height: 30px;    
}
#contact_us input:focus, #contact_us textarea:focus{
    box-shadow: inset 0px 0px 7px $link;
}
#contact_us input:not(:last-child), #contact_us textarea{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    border:1px solid var(--negro);
}
#contact_us textarea{
    min-width:100%;
    max-width: 100%;
    min-height: 120px;
    max-width: 150px;
}
#contact_us input, #contact_us textarea{
    outline: none;
    font-size: 1.6rem;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
#contact_us input:last-child{
    background:$secundario;
    color:#ffffff;
    border-radius:5px;
    cursor: pointer;
    margin-top:15px;
    outline: none;
}
#contact_us input:last-child:hover{
    background: $acento;
    color:$negro
}
#contact_us input:last-child:active{
    background: var(--link);
    color:#ffffff;
}
    @media (max-width:425px){
        .contact_grid{
            grid-template-areas:
            "c_titulo"
            "c_texto" 
            "c_formulario";
            grid-template-columns: 100%;
            grid-template-rows: 70px auto;
        }
        #contact_us{
            padding:0px;
            width: 100%;
        }
    }
/* = = = Nosotros = = = */
.main_nosotros{
    margin: auto;
}
// BLOQUE 1
.DiaFecha{
    display: flex;
    justify-content: space-between;
}
.DiaFecha__fecha, .DiaFecha__clima{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70px
}
.DiaFecha--dia{
    font:$info;
}
.DiaFecha--mes{
    font:$detalle;
    margin-bottom: 0px;
}
.DiaFecha--temperatura{
    font:$info;
}
.DiaFecha--localidad{
    font:$detalle;
    margin-bottom: 0px;
}
// 
.card__body {
    display: flex;
    flex-direction: column;
}
.card--title{
    margin:10px 0 25px;
    padding:0px;
}
.card--btn{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}
.card:hover{
    cursor: pointer;
    background: snow;
    transform: translateY(-10px);
    transition: 0.12s;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0,0.15);
}

.card__propiedad{
    height: 120px;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0,0.15);
}
.destacado__info{

}
.card--titlesito{
    margin-bottom:15px
}
.card--textito{
    font-size: 1.2rem;
    line-height: 1.3;
    color:$negro;
}

@media(max-width:768px){

    .card{ 
        .card__img-top{
         height: 100px;
         background-size: cover;         
        }
        .destacado_info{
            display: block;
        }
        .destacado_info > p{
            font-size: 1rem;;
        }
        h2 > .card--title{
            font-size: 1.4rem;
            letter-spacing: -0.3px;
            margin: 0px 0 12px;
            padding:0px;
            min-height: 18px;
        }
        .card__body.destacado_info{
            padding:5px 5px;
        }
     } 
 }

// BLOQUE 4





    /** ********************** */
/* ↓ ↓ ↓ ESTO QUEDA ↓ ↓ ↓ */








/* = = = Formularios de Registro & Login = = = */
.cerrar{
    position:absolute;
    text-align: center;
    top: 5px;
    right: 10px;
    background: var(--primario);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#ffffff;
    font-weight: 600;    
}
#login, #register{
    display: none;
    position: absolute;
    top:105px;
    width: auto;
    height:137px;
    padding: 35px 5px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
}
    @media(max-width:768px){
        #login,#register{
            top:100px;
        }
    }

#login form input:not(:last-child),#register form input:not(:last-child){
    height: 20px;
    padding: 3px 5px;
    margin-bottom: 5px;
}
#login form,#register form{
    display: flex;
    flex-direction: column;
}
#login:target,#register:target{
    display: flex;    
    background: var(--acento);
    background: linear-gradient(180deg, var(--acento), var(--link));
    animation: despliegue 1s linear;
    -webkit-animation: despliegue 1s linear;
    -o-animation: despliegue 1s linear;    
}
    @keyframes despliegue{
    0%{
        transform: translate(0,-125px);
        opacity: 0;
    }
    70%{
        opacity: 0.3;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
@-webkit-keyframes despliegue{
    0%{
        transform: translate(0,-125px);
        opacity: 0;
    }
    70%{
        opacity: 0.3;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
@-o-keyframes despliegue{
    0%{
        transform: translate(0,-125px);
        opacity: 0;
    }
    70%{
        opacity: 0.3;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
.utilidades{
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.DiaFecha{
    display: flex;
}
.acceso{
    display: flex;
    justify-content: space-between;
}
.login, .register{
    font-size: 1.2rem;
    font-style: none;
    font-family: 'Roboto', sans-serif;
    color:var(--primario);
    font-weight: 600;
    width:50%;
    text-align: center;
}
.login:hover, .register:hover{
    color:silver;
    transition: 0.12s;
}
/* = = = fecha y clima = = = */
.fecha, .clima{
    width:60px;
    height: 50px;
    text-align: center;
}
.fecha p, .clima p{
    font-size: 1.2rem;
    color:var(--negro);
}
.fecha p:first-child, .clima p:first-child{
    font-size: 2rem;
    font-weight: 600;
    height: 20px;
}
    @media(max-width:768px){
        .fecha, .clima{
            height: 55px;
        }
    }
/*NAV Navegacion*/
nav{
    width: 100%;
    height: 30px;
    background-color: $acento;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2)
}
.nav_list{
    list-style: none;
    width:80%;
    height: 100%;
    margin: auto;    
    display: flex;
    justify-content: center;
}
.nav_list__item{
    width:10%;
    padding:0px;
    background-color: $acento;
    list-style: none;
    display: grid;
}
.nav_list--link{
    font-size: 1.4rem;
    text-align: center;
    color: $negro;
    font-weight: 600;
    text-decoration: none;
    height: 100%;
    width:100%;
}
.nav_list--link:hover{
    color:$primario;
    transition: 0.12s;
    transform: translateY(-3px);
    text-shadow: 0px 3px 5px rgba(0,0,0,0.4);
}
.nav_list__item:hover{
    border-bottom: 2px solid $primario;    
}

.menu_ico img{
    width: 30px;
    height: auto;
}
.menu_ico{
    display: none
}
.responsive_menu{
    display: none;
    list-style: none;
    position: fixed;
    background:rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    top:0;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

    @media(max-width:768px){
        nav{
           display: none;
        }
        .menu_ico{
            display: flex;
        }
        #responsive_menu:target{
            display: inline-flex;            
        }
        #responsive_menu li a{
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 2.4rem;
            color:#FFFFFF;
            padding:5px;
            display: block;
        }
        #responsive_menu li a:hover{
            border-bottom: 1px solid var(--secundario);
        }
        #responsive_menu>li:first-child{
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--primario);
            text-align: center;
            height: 50px;
            width:50px;
            border-radius: 50%;
            margin-bottom: 75px;
        }
        #responsive_menu>li:first-child:hover{
            background: var(--acento);
            transition: 0.12s;
        }
    }

    @media(max-width:576px){
        .DiaFecha{
            display: none;
        }

    }

/* = = = filtrado = = = */
.filtrado{
    width: 15%;
    padding:20px;
    background:linear-gradient(var(--secundario), grey);
    display: block;
    min-height: 100%;
}
.filtro{
    width:100%;
    margin: auto;
    display:flex;
    flex-direction:column;
    padding-top: 30px;
}
.filtrado_tit{
    font-family: 'Crete Round', serif;
    font-size: 2rem;
    color:var(--negro);
    margin-bottom: 20px;
    text-align: center;
}
.filtro select{
    width:100%;
    outline: none;
    border:1px solid grey;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding:5px;
    border-radius: 3px;
}
    @media(max-width:768px){
        .filtrado{            
            width: 100%;
        }
        .filtrado form{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        .filtrado select{
            width:calc(20% - 10px)
        }
        .filtrado_tit{
            display: none;
        }
        .filtrado{
            padding:5px;
        }
    }

/*footer*/
footer{
    background: var(--negro);    
}
footer > .container{
    height:120px;
    width:95%;
    max-width: 1024px;  
    padding:25px 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .foot_list, .social_nav{
        display: flex;
        justify-content: space-around;
    }
    .foot_list{
        display: flex;
    }
}
.foot_logo{
    height: 50px;
    filter: invert(0.5);
}
.foot_logo:hover{
    transform: translate(0px, -2px);
    filter: invert(0);
    transition: 0.12s;
}
.foot_list{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    list-style:none;
    padding-top: 10px;
    order:2;
    ul li{
        padding:5px 10px;
    }
    a{
        color:var(--secundario);
        font-size: 1rem;
    }
    a:hover{
        color:var(--acento);    
    }
}
.social_nav{
    justify-content: space-around;
    i{
        font-size: 30px;
        color:$secundario
    }
    i:hover{
        color:$acento
    }
    i:not(last-child){
        margin-right: 20px;
    }
    .social_nav--ico{
        height: 24px;
        fill:$secundario;
    }
    .social_nav--ico:hover{
        fill:$acento
    }
}

    @media(max-width:768px){
        footer .container{
            max-width:760px;
            width: 90%;
        }
        .foot_logo{
            height: 55px;        
        }        
    }
    @media (max-width:576px){
        footer > .container{
            flex-direction: column;
            width:90%
        }
        
    }